<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336210526974-madjbk6jhacqbh1j7uaqpjao6mt3b9o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336210526974-madjbk6jhacqbh1j7uaqpjao6mt3b9o2</string>
	<key>API_KEY</key>
	<string>AIzaSyCaZ6HT-j7vnUbLU8fyaq80-tqQ0n08rYY</string>
	<key>GCM_SENDER_ID</key>
	<string>336210526974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.advert.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>advert-6adbc</string>
	<key>STORAGE_BUCKET</key>
	<string>advert-6adbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336210526974:ios:e602b0b4d63e5b1703dbaf</string>
</dict>
</plist>